body {
	font-size: 16px;
	font-family: Type/League-Gothic;
	color: #666;
	padding: 25px;
}

@font-face {
	font-family: 'League-Gothic';
	src: url("Fonts/League-Gothic.otf");
}

h1 {
	color: #0971B2;
	font-size: 36px;
}

#header {display: inline-block;
}

#navigation {text-decoration: none;
}

h3 {
	color: #0971B2;
	font-size: 30px;
}

ul {
	font-size: 20px;
	line-height: 40px;
	color: #0971B2;
	text-decoration: none;
}

p {
	font-size: 16px;
}

