* {
	font-family: 'Lato', _sans;
}

body {
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	filter: grayscale(100%);
	webkit-filter: grayscale(100%);
	min-height: 100%;
	min-width: 100%;
}

#container {
	width: 980px;
	margin: 25px 10px 0 10px;
	font-family: 'Lato', _sans;
}

.header {
	padding-top: 10px;
	font-size: 45px;
}

#nav {
	padding-top: 10px;
	padding-left: 600px;
	font-size: 20px;	
}

#nav a {
	color: black;
}


.content {
	font-size: 16px;
}


li {
	display: inline;
	text-decoration: none;
}

